/*stylesheet for congressional effectivenesss bubble chart*/
/*Author: Travis Hartman*/
/*created 1.19.2015*/

body {
	/*font-family: helvetica, arial, sans-serif;*/
}

/*Headline/Deck*/
.headline {
	/*background: brown*/
}

.deck {

}


.bubbleDiv{
	/*background: green;*/
	left: -30;
}

.bubbleSvg {

}

.container {
	/*background: orange*/
}

/*Infobox styles*/

.bubbleWords{
	height: 75;
	font-size: 12;
}

.bubbleMessageOverall {

}


.bubbleLaw, 
.bubbleScore, 
.bubblePassed, 
.congressPerson {
	margin-top: 0;
	margin-bottom: 0;
	/*overflow: hidden;*/
}

.congressPerson {
	font-style: bold;
}


/*slider details*/

.sliderDiv{
	float: right;
	/*background-color: black*/
}

#slider {
	position: absolute;
	right: 0;
	width: 13px;
	height: 500px;
	/*background: red;*/
}






/*container div = 960 margin 0 auto to center*/

